.btn__search{
    padding: 9.5px 12.5px;
    border: none;
    color: white;
    background: #3ab493;
    font-weight: 600;
    border-radius: 0 3px 3px 0;
}
.MuiOutlinedInput-root{
    border-radius: 3px 0 0 3px!important;
}
.MuiOutlinedInput-inputMarginDense{
    padding-top: 7.5px!important;
    padding-bottom: 7.5px!important;
}