.sidebar {
  background: #2f4050;
  height: 100vh;
  padding-bottom: 10px;
  transition: width 500ms;
  .header {
    background-color: #243846;
    display: flex;
    height: 8%;
    color: white;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    .toggle-side-menu {
      position: relative;
      right: -15px;
      top: 10px;
      float: right;
      .icon {
        background: #6559ff;
        border-radius: 15px;
        width: 1.2em;
        height: 1.2em;
        margin: unset;
        border: 3px solid white;
        .icon {
          width: calc(100% - 12px);
          height: calc(100% - 6px);
        }
      }
    }
  }
  .side-menu-holder {
    .side-menu {
      display: flex;
      &.selected {
        background: #293846;
        border-left: 4px solid #37ab8d;
        .customized-sidebar-icon {
          margin: 13px 14px;
        }
        .icon {
          .icon__elem--color {
            background: white;
          }
        }
      }
      .menu-item-header {
        padding-top: 16px;
        color: white;
        font-weight: 600;
        font-size: 15px;
      }
    }
    a {
      text-decoration: none;
    }
  }
  .customized-sidebar-icon {
    // background: #292c64;
    text-align: center;
    margin: 13px 18.7px;
    border-radius: 5px;
  }
}
