@import "../../Scss/colors.scss";

.sidebar {
  background: $sidePannelColor;
  padding-bottom: 10px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: .3s all ease;

  .header {
    background-color: $headerColor;
    display: flex;
    height: 8vh;
    color: white;
    font-weight: 700;
    justify-content: center;
    align-items: center;
  }
  .side-menu-holder {
    .side-menu {
      display: flex;
      height: 55px;
      &.selected {
        background: #293846;
        border-left: 4px solid $selectedBorder;
        .customized-sidebar-icon {
          margin: 13px 26px;
        }
        .icon {
          .icon__elem--color {
            background: $white;
          }
        }
      }
      .menu-item-header {
        color: $white;
        font-weight: 600;
        font-size: 15px;
      }
    }
    a {
      text-decoration: none;
    }
    .menu__displayname--fadeout {
      overflow: hidden;;
      transition: 2s all ease;
    }
    .menu__displayname--fadeIn {
      overflow: auto;
      transition: .3s all ease;
    }
  }
  .customized-sidebar-icon {
    // background: #292c64;
    text-align: center;
    margin: 13px 28.1px;
    border-radius: 5px;
  }
}
