@import "../../Scss/colors.scss";
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon__elem{
        display: inline-block;
        width: 15px;
        height: 18px;
        -webkit-mask-size: 100%;
        mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
    }
    .icon__elem--color {
        background: $iconColor;
    }
    .icon__elem--selected {
        background: $white;
    }
}