@import './Scss/colors.scss';

$font-stack: 'Source Sans Pro', sans-serif;

.app__container {
  height: 100%;
  display: flex;
  font-family: $font-stack;
  overflow: hidden;
}

.bg--red, .documents {
  background: $redHue1;
}
.bg--green,  .work{
  background: $greenHue1;
}
.bg--blue, .advertising {
  background: $blueHue1;
}
.bg--blue2, .social {
  background: $blueHue2;
}
.bg--orange, .clients {
  background: $orangeHue1;
}
.bg--white {
  background: $white;
}
.bg--color1 {
  background: $color1;
}
.bg--color2 {
  background: $color2;
}
.bg--mailRead {
  background: $mailReadBg;
}