$white: white;
$redHue1: #f05463;
$orangeHue1: #f9ac50;
$blueHue1: #40c6c9;
$blueHue2: #2383c8;
$greenHue1: #3ab493;
$greenHue2: #2e8f7b;

$primaryColor: #35a789;
$primaryBg: #f3f3f4;
$sidePannelColor: #2f4050;
$headerColor: #243846;
$selectedBorder: #37ab8d;
$iconColor: #a7b1c2;
$headerIconColor: #989c9e;
$primaryLiteFontColor: #747678;
$primaryBoldFontColor: #2e8f7b;
